<div class="container">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @cocktails.each do |cocktail| %>
          <div class="card-category my-8">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
