
.banner {
  background-size: cover;
  background-position: center;
  /* padding: 25px 0; */
  background-color: #EDEAE5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: #28282A;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 70px;
  margin-left: 16px;
}

.banner p {
  font-size: 20px;
  color: #28282A;
}

.banner img {
  height: 144px;
}
