body {
  background-color: #000000;
}

p {
  color: #28282A;
  font-weight: lighter;
  word-break: break-all
}

img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #28282A;
  opacity: 0.5;
}

a:hover {
  color: #28282A;
}

.card-category {
  background-size: cover;
  background-position: center;
  background-color: #EDEAE5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-show{
  background-color: #EDEAE5;
  color: #28282A;
}

.card-show h1 {
  color: #28282A;
  word-break: break-all;
  font-size: 70px;
  font-weight: bold;
}

// .card-show-text {
//   display: flex;
// }

.card-show-visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-show-icons {
  display: grow;
  color: #28282A;
  font-size: 30px;
  padding-left: 42px;
  letter-spacing: 16px;
}

a {
  color: #28282A;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

